VITE_WEB_URL=https://fitflo.faizath.com
VITE_WEB_HOST=fitflo.faizath.com
VITE_API_URL=https://fitflo-api.faizath.com
VITE_API_HOST=fitflo-api.faizath.com
VITE_CONTACT_EMAIL=contact@fitflo.faizath.com
